<br />
<div class="card" *ngIf="festival" style="width: 100%">
  <br />
  <div class="section-title" id="blocconcert" data-aos="fade-up">
    <!-- <div class="text-center" style="font-size: 20px"> -->
    <h2>
      Informations à connaitre pour le prochain festival de
      <strong>{{ festival.nom }}</strong>
    </h2>
  </div>
  <div class="container">
    <div data-aos="fade-up">
      <img [src]="festival.image" width="100%" height="600Px" alt="" />
    </div>

    <br />

    <ul class="list-group">
      <!-- Liste HTML classique : -->
      <!-- <li class="list-group-item"> Défaut</li> -->

      <li class="list-group-item list-group-item-secondary" data-aos="fade-up">
        <span>Nom de l'artiste: </span>
        <strong>{{ festival.nom }}</strong>
      </li>
      <li class="list-group-item list-group-item-light" data-aos="fade-up">
        <span>titre: </span>
        <strong>{{ festival.titre }}</strong>
      </li>

      <li class="list-group-item list-group-item-secondary" data-aos="fade-up">
        <span> Desciption: </span> <strong>{{ festival.description }}</strong>
      </li>
      <li class="list-group-item list-group-item-light" data-aos="fade-up">
        <span>Date: </span>
        <strong>{{ festival.date }}</strong>
      </li>
      <li class="list-group-item list-group-item-secondary" data-aos="fade-up">
        <span>Lieu: </span>
        <strong>{{ festival.lieu }}</strong>
      </li>
      <li class="list-group-item list-group-item-light" data-aos="fade-up">
        <span>Heure de debut </span>
        <strong>{{ festival.heure_debut }}</strong>
      </li>
      <li class="list-group-item list-group-item-secondary" data-aos="fade-up">
        <span>Heure de fin: </span>
        <strong>{{ festival.heure_fin }}</strong>
      </li>
      <li class="list-group-item list-group-item-light" data-aos="fade-up">
        <span>Réservation VIP: </span>
        <strong>{{ festival.reservation_vip }}</strong>
      </li>
      <li class="list-group-item list-group-item-secondary" data-aos="fade-up">
        <span>Réservation classic: </span>
        <strong>{{ festival.reservation_classic }}</strong>
      </li>
    </ul>
  </div>
</div>

<br /><br /><br />
<br />
<app-footer></app-footer>
