<br />
<br />
<!-- DEBUT TITRE CONCERT -->
<div class="section-title" id="blocconcert" data-aos="fade-up">
  <h2 id="concerts" class="text-warning">Les Concerts</h2>
</div>
<!-- FIN TITRE CONCERT -->

<!-- DEBUT BARRE DE RECHERHCE CONCERT -->
<div id="myElement">
  <form
    class="form-inline"
    [formGroup]="formrecherche"
    (ngSubmit)="filterInput()"
  >
    <div
      id="blocsearchconcert"
      class="d-flex justify-content-center align-items-center"
      data-aos="fade-up"
    >
      <div id="blocinputconcert">
        <input
          id="inputconcert"
          class="form-control my-2 my-sm-0 col-3"
          type="search"
          placeholder="Recherchez un concert"
          aria-label="Search"
          formControlName="search"
          (keyup)="onKeyUp($event)"
        />
      </div>
      <div id="blocbtnsearchconcert">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>
  </form>
  <!-- FIN BARRE DE RECHERHCE CONCERT-->

  <!-- DEBUT SECTION LISTE CONCERT -->

  <div
    class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center align-items-center m-2"
    id="positioncardpetitecran"
    data-aos="fade-up"
  >
    <!-- <div class="row row-cols-1 row-cols-md-3 g-4 d-md-block">
  <div class="col"> -->
    <div
      *ngFor="
        let concert of filterinputsearch
          | paginate : { itemsPerPage: 3, currentPage: p }
      "
      class="paginate"
    >
      <div
        class="card m-4"
        style="width: 22rem"
        id="cardtaillepetitecran"
        concertBorderCard
      >
        <img [src]="concert.image" class="card-img-top" alt="..." />
        <div class="card-body text-center">
          <h5 class="card-title">{{ concert.titre }}</h5>
          <p class="card-text">
            {{ concert.description }}
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          <div class="d-flex justify-content-center align-items-center">
            <a (click)="goToInformationConcert(concert)">
              <button class="btn btn-warning" type="button">Information</button>
            </a>
            &nbsp;
            <a (click)="goToReservationConcert(concert)"
              ><button class="btn btn-outline-primary" type="button">
                RESERVER
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="stylepaginate text-center" data-aos="fade-up">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
<!-- FIN SECTION LISTE CONCERT -->
<!-- <div class="fade-in" id="myElemennt">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos tempore
  carousel-caption
</div>
<script>
  setTimeout(function () {
    document.getElementById("myElement").classList.add("show");
  }, 1000);
</script> -->
<br />

<!-- <div class="container">
  <h1 class="fade-up">Fade In Example</h1>
  <p class="fade-up">This element will fade in.</p>
</div>

<style>
  .fade-in {
    animation: fadeUpAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes fadeUpAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style> -->
