/* #blocsearchfestival {
  margin: auto;
  width: 50%;
} */
#blocsearchfestival {
  display: flex;
}

img {
  height: 250px;
}
#petitecran {
  display: none;
}
/* RESPONSIVE DEBUT */

@media screen and (max-width: 414px) {
  #grandecran {
    display: none;
  }
  #petitecran {
    display: initial;
  }
  #cardtaillepetitecran {
    width: 22.9rem;
  }
  #pagination {
    margin-left: -2.5rem;
  }
}
@media screen and (max-width: 390px) {
  #cardtaillepetitecran {
    width: 21.4rem;
  }
  #pagination {
    margin-left: -2.5rem;
  }
}
@media screen and (max-width: 375px) {
  #cardtaillepetitecran {
    width: 20.5rem;
  }
}
@media screen and (max-width: 360px) {
  #cardtaillepetitecran {
    width: 19.5rem;
  }
}
